      .btn:link, .btn:visited{
        background-color: $primary-color;
        font-size: 2rem;
        color: $white;
        padding: 1.6rem 3.2rem;
        border-radius: 6px;
        text-decoration: none;
      }