@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

img {
  width: 100%;
}

.center-text {
  text-align: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: grid;
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

.grid--center-v {
  align-items: center;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

h1 {
  font-size: 2rem;
}

/********************************/
/********************************/
/********************************/
/********************************/
.header {
  display: flex;
  padding: 0 4.8rem;
  height: 9.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  position: relative;
}
.header .logo {
  height: 2.2rem;
  width: auto;
}
.header .main-nav .main-nav-list {
  display: flex;
  align-items: center;
}
.header .main-nav li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header .main-nav li:hover {
  color: #e67e22;
}

/********************************/
/********************************/
section.hero {
  background-color: #fdf2e9;
  padding: 5rem 3.2rem 9.6rem 3.2rem;
}
section.hero .hero-wrapper {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
section.hero .hero-wrapper .hero-text-box {
  align-items: center;
}
section.hero .hero-wrapper .hero-text-box .hero-heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
}
section.hero .hero-wrapper .hero-text-box .hero-description {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  font-weight: 500;
}
section.hero .hero-wrapper .hero-text-box .hero-delivered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}
section.hero .hero-wrapper .hero-text-box .hero-delivered-meals .delivered-imgs {
  display: flex;
  padding-right: 1rem;
}
section.hero .hero-wrapper .hero-text-box .hero-delivered-meals .delivered-imgs img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}
section.hero .hero-wrapper .hero-text-box .hero-delivered-meals .delivered-desc {
  font-size: 1.4rem;
  color: #e67e22;
  font-weight: 600;
}
section.hero .hero-wrapper .hero-img-box .hero-img {
  width: 100%;
}

/********************************/
/********************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.section-featured .container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-featured .container .heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.section-featured .container .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.6rem;
}
.section-featured .container .logos img {
  height: 2.6rem;
  filter: brightness(0);
  opacity: 50%;
}

/********************************/
/********************************/
.section-how {
  padding: 9.6rem 0;
}
.section-how .container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-how .container .subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.section-how .container .heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.section-how .grid--center-v {
  align-items: center;
}
.section-how .grid--center-v .step-text-box .step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.section-how .grid--center-v .step-text-box .heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.section-how .grid--center-v .step-text-box .step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section-how .grid--center-v .step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-how .grid--center-v .step-img-box::before {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.section-how .grid--center-v .step-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-how .grid--center-v .step-img-box::after {
  content: "";
  width: 45%;
  padding-bottom: 45%;
  background-color: #fdf2e9;
  z-index: -1;
}
.section-how .grid--center-v .step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-how .grid--center-v .step-img-box .step-img {
  width: 35%;
}
.section-how .grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.section-how .grid {
  display: grid;
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

/********************************/
/********************************/
.section-meals {
  padding: 9.6rem 0;
}
.section-meals .meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.section-meals .meal .meal-img {
  width: 100%;
}
.section-meals .meal .meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.section-meals .meal .meal-content .meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.section-meals .meal .meal-content .meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-meals .meal .meal-content .meal-attributes .meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section-meals .meal .meal-content .meal-attributes .meal-attribute .meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.section-meals .meal .meal-content .meal-attributes .meal-attribute .hydrated {
  visibility: inherit;
}
.section-meals .meal .meal-content .meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.section-meals .meal .meal-content .meal-tags .tag--vegetarian {
  background-color: #51cf66;
}
.section-meals .meal .meal-content .meal-tags .tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.section-meals .meal .meal-content .meal-tags .tag--vegan {
  background-color: #94d82d;
}
.section-meals .meal .meal-content .meal-tags .tag--paleo {
  background-color: #ffd43b;
}
.section-meals .diets .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.section-meals .diets .list .list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.section-meals .diets .list .list-item .list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.section-meals .all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.section-meals .all-recipes .link:link,
.section-meals .all-recipes .link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

/********************************/
/********************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.section-testimonials .testimonials-container {
  padding: 9.6rem;
}
.section-testimonials .testimonials-container .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}
.section-testimonials .testimonials-container .testimonials .testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.section-testimonials .testimonials-container .testimonials .testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.section-testimonials .testimonials-container .testimonials .testimonial-name {
  font-size: 1.6rem;
  color: #555;
}
.section-testimonials .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 9.6rem;
}
.section-testimonials .gallery .gallery-item {
  overflow: hidden;
}
.section-testimonials .gallery .gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.section-testimonials .gallery .gallery-item img:hover {
  transform: scale(1.1);
}

.btn:link, .btn:visited {
  background-color: #e67e22;
  font-size: 2rem;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 6px;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */